* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* added the font family to body instead of header */
body {
    background-color: #dfe1de;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* added nav instead of div to wrap navigation list*/
nav {
    height: 80px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #2a607c;
}
/* wrapped header in header selection instead of div */

.header {
    padding: 20px;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    float: left;
}

.header h1 .seo {
    color: #d9dcd6;
}
.header li {
    list-style-type: none;
    padding: 9px;
    display: inline-block;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    margin-left: 10px;
    display: inline;
}



.hero {

    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* moved this secion further up */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}



/* added single tag to keep the code optimazed */
img {
    max-height: 200px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    position: relative;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    position: relative;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    position: relative;
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changed from 3 different classes to h2 as they all share the same code */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* FOOTER */
/* removed class footer and added a tag footer instead */
footer {
    height: 80px;
    text-align: center;
}
footer p {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h3 {
    font-size: 16px;
}
